<section class="">
    <div class="container d-flex justify-content-center">
      <div class="row w-75 mt-5">
        <div class="col-md-12">
          <h2 class="text-center">Edit category</h2>
          <form
            action="/admin/edit-category/<%= editCat.id%>"
            method="POST"
            onsubmit="return validate()"
           
          >
            <label for="">Category Name</label>
            <input type="text" name="categoryname" id="category" class="form-control" value="<%= editCat.CategoryName %>" />
            <button type="submit" class="btn btn-success mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Table section -->

  <script>

    function validate() {
      var categoryInput = document.getElementById("category").value;
      if (!isNaN(categoryInput)) {
        alert("Please enter a valid category!");
        return false;
      }
      if (/[^a-zA-Z0-9]/.test(categoryInput)) {
        alert("Error: Category name should not contain special characters.");
        return false;
      }
    
     
      return true;
    }
    
    </script>
 
  