
<header class="main-header navbar">
  
  <div class="col-search">
    <!-- <form class="searchform" action="/admin/search-item" method="post">
      <div class="input-group">
        <input
          list="search_terms"
          type="text"
          class="form-control"
          placeholder="Search term"
          name="searchItem"
        />
        <button class="btn btn-light bg" type="submit">
          <i class="material-icons md-search"></i>
        </button>
      </div>
      
    </form> -->
  </div>
 
      <% if (adminStatus==true) { %>
        
        <li class="dropdown nav-item">
          <a
          class="dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          id="dropdownAccount"
          aria-expanded="false"
        >
          <img
            class="img-xs rounded-circle"
            src="/imgs/people/avatar2.jpg"
            alt="User"
        /></a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownAccount"
        >
          <a class="dropdown-item" href="#"
            ><i class="material-icons md-perm_identity"></i>PROFILE</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="/admin/logout"
            ><i class="material-icons md-exit_to_app"></i>LOGOUT</a
          >
          
        </div>
          
          <%} else { %>
           Account
            
          <% } %>
       
      </li>
    </ul>
  </div>
</header>


