<!-- 
<div>
  <div class="d-flex pb-2" style="justify-content: center; align-items: center; ">
    <img src="\assets\imgs\banner\final.jpg" alt="">
    </div> 
    <a href="/shop" style="width: 10cm; margin-left: 10cm;
    margin-top: 2cm;" class="btn btn-outline-dark-2 btn-block mb-3"><i class="icon-refresh"></i>CONTINUE SHOPPING</a>
</div>
 -->


<div class="d-flex pb-2" style="justify-content: center; align-items: center;">
  <img style="height: 8cm;" src="\assets\imgs\banner\final.jpg" alt="">
  </div> 
  <h4 style="padding-left: 15cm;" >Your Order Is Confimed!</h4>
  <a href="/orders" style="width: 10cm; margin-left: 13cm; background-color: green;
  margin-top: 1cm;" class="btn btn-outline-dark-2 btn-block mb-3"><i class="icon-refresh"></i>VIEW ORDERS</a>
