<div class="container-fluid  mt-100">
    <div class="d-flex pb-2" style="justify-content: center; align-items: center;">
        <img src="\assets\imgs\banner\clipart2883707.png" style="" alt="">
        </div> 
        <a href="/shop" style="width: 10cm; margin-left: 10cm;
        margin-top: 2cm;" class="btn btn-outline-dark-2 btn-block mb-3"><i class="icon-refresh"></i>CONTINUE SHOPPING</a>
    <!-- <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                        <img src="images/searchSvg.png" width="150" height="150" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Search Result is not found</strong></h3>
                        <h4>Add something to make me happy :)</h4>
                        <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                            shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br> -->
</div>